<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Events</title>
  <style type="text/css">
   TABLE {
    border: 2px double #000; /* Рамка вокруг таблицы */
   }
   TD, TH {
    padding: 5px #000; /* Поля вокруг текста */
    border: 1px solid #000; /* Рамка вокруг ячеек */
   }
  </style>
</head>
<body>
	<h2>Create New Event</h2>
	<br>  
     <form th:action="@{/saveEvent}" method="POST">
		<table>
			<tr>
				<td>Select Service Type:</td>
						<td>
						<select th:field="*{serviceTypes}">
						<option th:each="serviceType : ${serviceTypes}"
								th:value="${serviceType}"
								th:utext="${serviceType}"/>
						</select>
				</td>				
			</tr>
			<tr>
				<td>Select Origination Page:</td>
						<td>
						<select th:field="*{originationPages}">
						<option th:each="originationPage : ${originationPages}"
								th:value="${originationPage}"
								th:utext="${originationPage}"/>
						</select>
				</td>
			</tr>
			<tr>
				<td>Select Origination Channel:</td>
						<td>
						<select th:field="*{originationChannels}">
						<option th:each="originationChannel : ${originationChannels}"
								th:value="${originationChannel}"
								th:utext="${originationChannel}"/>
						</select>
				</td>
			</tr>
			<tr>
				<td><input name="submit" type="submit" value="Create Event" /></td>
			</tr>
		</table>
	</form>
	<br>
	<hr>


</body>
</html>